.App {
  margin-top: 60px;
  .App-header {
    background-color: #999;
    height: 150px;
    color: white;

    .App-title {
      font-size: 1.5em;
    }
  }
  
  .App-intro {
    font-size: large;
  }
}